<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Water Consumption Tracker</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body style="background-color: rgb(220, 230, 237);">
    <h1 style="background-color: white; padding: 10px;">Water Consumption Tracker</h1>
    <div id="cup-container">
        <div id="cup"></div>
        <div id="water-level"></div>
    </div>

    <div id="data-display">
        <h2 style="background-color: white; padding: 10px;">Water Consumption Data</h2>
        <table>
            <thead>
                <tr>
                    <th>Time</th>
                    <th>Amount (ml)</th>
                </tr>
            </thead>
            <tbody id="data-body">
                <!-- 数据将在这里动态显示 -->
            </tbody>
        </table>
    </div>

    <div id="total-amount-container">
        <p id="total-amount">Total Amount: 0 ml</p>
        <button id="total-amount-button">Button</button>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>
